Archive/single_cycle/sim/work
Archive/single_cycle/fpga/db
Archive/single_cycle/fpga/incremental_db
Archive/single_cycle/fpga/output_files

Archive/5_stage_pipeline/fpga/db
Archive/5_stage_pipeline/fpga/incremental_db
Archive/5_stage_pipeline/fpga/output_files

/8_stage_pipeline/fpga/cpu.qws
/8_stage_pipeline/fpga/db
/8_stage_pipeline/fpga/incremental_db
/8_stage_pipeline/fpga/output_files
/8_stage_pipeline/sim/logs
/8_stage_pipeline/sim/scripts/work

/.agents
/GEMINI.md