/single_cycle/sim/work
/5_stage_pipeline/sim/scripts/work
/5_stage_pipeline/sim/logs
/5_stage_pipeline/fpga
/12_stage_pipeline/fpga
/12_stage_pipeline/sim/logs
/12_stage_pipeline/sim/scripts/work
/single_cycle/fpga
/single_cycle/sim/sim_address.txt
/.gemini
/GEMINI.md